/* Variables for frequently used colors */
:root {
	--main-bg: #181818;
	--secondary-bg: #FFFFF6;
	--highlight: #EF5A39;
}

/* Imported font */
@font-face {
	font-family: "Sometype-Mono";
	src: url(../fonts/SometypeMono-Bold.ttf);
	font-weight: bold;
}

/* Basic CSS for page outlines! */
html, body {
	font-family: "Sometype-Mono";
	font-weight: bold;
	height: 100%;
	margin: 0;
}

#wrapper {
	height: 100%;
}

.dark-page {
	background-color: var(--main-bg);
	height: 100%;
	padding: 100px;
}

.dark-page h1 {
	color: white;
}

.dark-page h2 {
	color: white;
}

.light-page {
	background-color: var(--secondary-bg);
	height: 100%;
	padding: 100px;
}

.light-page h1 {
	color: var(--main-bg);
}

/* CONTACT PAGE SPECIFIC CSS */
#team-title {
	float: left;
	padding-right: 20px;
	text-align: right;
	width: 300px;
}

#teams {
	float: left;
	padding-left: 20px;;
	width: 500px;
}